<h4 id="already-tried" class="header offset">Already Tried</h4>
  {{> rating parameter=stars5}}
  {{> rating parameter=stars4}}
  {{> rating parameter=stars3}}
  {{> rating parameter=stars2}}
  {{> rating parameter=stars1}}
