<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Best Burgers</h5>
        <p class="grey-text text-lighten-4">For people who take their burger eating habits seriously!</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li><a class="grey-text text-lighten-3 modal-trigger" href="#add">Add a Burger</a></li>
          <li><a class="grey-text text-lighten-3" href="#need-to-try">Need to Try</a></li>
          <li><a class="grey-text text-lighten-3" href="#already-tried">Already Tried</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © 2017 Tim Acker
    <a class="grey-text text-lighten-4 right" href="https://github.com/MitHipster/unc_assign_14_burger_app" target="_blank">GitHub Repo</a>
    </div>
  </div>
</footer>
