<div id="add" class="modal">
  <div class="modal-content container">
    <h4>Add a Burger</h4>
    <div class="row">
      <form action="/" method="POST" class="col s12">
        <div class="row">
          <div class="input-field col s12">
            <input type="text" id="burger-name" class="validate" name="burger_name" data-length="50" required>
            <label for="burger-name">Burger Name</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input type="text" id="rest-name" class="validate" name="rest_name" data-length="50" required>
            <label for="rest-name">Restaurant</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <textarea id="desc" class="materialize-textarea" name="description" data-length="250" rows="4"></textarea>
            <label for="desc">Description</label>
          </div>
        </div>
        <button type="submit" class="waves-effect waves-light btn">Add It</button>
        <button type="reset" class="waves-effect waves-light btn modal-close">Cancel</button>
      </form>
    </div>
  </div>
</div>
