<div id="add" class="modal">
  <div class="modal-content container">
    <h4>Add a Burger</h4>
    <div class="row">
      <form action="/" method="POST" class="col s12">
        <div class="row">
          <div class="input-field col s12">
            <input type="text" id="burger-name" class="validate" name="burger_name" data-length="50" required>
            <label for="burger-name">Burger Name</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input type="text" id="rest-name" class="validate" name="rest_name" data-length="50" required>
            <label for="rest-name">Restaurant</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <textarea id="desc" class="materialize-textarea" name="description" data-length="250" rows="4"></textarea>
            <label for="desc">Description</label>
          </div>
        </div>
        <button type="submit" class="waves-effect waves-light btn">Add It</button>
        <button type="reset" class="waves-effect waves-light btn modal-close">Cancel</button>
      </form>
    </div>
  </div>
</div>
<div id="rate" class="modal">
  <div class="modal-content container">
    <h4>Give a Rating</h4>
    <div class="row">
      <form id="rating-form" action="" method="POST" class="col s12">
        <p>
          <input class="with-gap" name="RatingId" value="5" type="radio" id="stars5" checked/>
          <label for="stars5">&#9733; &#9733; &#9733; &#9733; &#9733; | Just awesome!</label>
        </p>
        <p>
          <input class="with-gap" name="RatingId" value="4" type="radio" id="stars4" />
          <label for="stars4">&#9733; &#9733; &#9733; &#9733; &#9734; | Really good.</label>
        </p>
        <p>
          <input class="with-gap" name="RatingId" value="3" type="radio" id="stars3" />
          <label for="stars3">&#9733; &#9733; &#9733; &#9734; &#9734; | Okay I guess.</label>
        </p>
        <p>
          <input class="with-gap" name="RatingId" value="2" type="radio" id="stars2" />
          <label for="stars2">&#9733; &#9733; &#9734; &#9734; &#9734; | Not worth it.</label>
        </p>
        <p>
          <input class="with-gap" name="RatingId" value="1" type="radio" id="stars1" />
          <label for="stars1">&#9733; &#9734; &#9734; &#9734; &#9734; | Never again!</label>
        </p>
        <input type="hidden" name="devoured" value="true">
        <button type="submit" class="waves-effect waves-light btn">Rate It</button>
        <button type="reset" class="waves-effect waves-light btn modal-close">Cancel</button>
      </form>
    </div>
  </div>
</div>
