<header>
  <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper container">
        <a href="#" class="brand-logo">Best Burgers</a>
        <a href="#" data-activates="mobile-menu" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
          <li><a class="modal-trigger" href="#add">Add a Burger</a></li>
          <li><a href="#need-to-try">Need to Try</a></li>
          <li><a href="#already-tried">Already Tried</a></li>
        </ul>
      </div>
    </nav>
  </div>
  <ul class="side-nav" id="mobile-menu">
    <h5>Menu</h5>
    <hr>
    <li><a class="modal-trigger" href="#add"><i class="material-icons">add</i>Add a Burger</a></li>
    <li><a href="#need-to-try"><i class="material-icons">local_dining</i>Need to Try</a></li>
    <li><a href="#already-tried"><i class="material-icons">check</i>Already Tried</a></li>
  </ul>
</header>
